annotated-types
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
Babel
beautifulsoup4
bleach
blinker
certifi
cffi
charset-normalizer
click
cloudpickle
comm
dacite
dask
dask-expr
debugpy
decorator
defusedxml
Deprecated
distlib
executing
fastapi
fastjsonschema
filelock
flake8
Flask
fqdn
fsspec
git-filter-repo
h11
httpcore
httpx
idna
importlib-metadata
iniconfig
ipykernel
ipython
ipywidgets
isoduration
itsdangerous
jaconv
jedi
Jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
locket
markdown-it-py
MarkupSafe
matplotlib-inline
mccabe
mdurl
mistune
mutagen
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
overrides
packaging
pandas
pandocfilters
parso
partd
pexpect
platformdirs
pluggy
prometheus_client
prompt-toolkit
psutil
ptyprocess
pure-eval
pyarrow
pycodestyle
pycparser
pydantic
pydantic_core
pyflakes
Pygments
pykakasi
pytest
python-dateutil
python-decouple
python-json-logger
python-slugify
pytube
pytz
PyYAML
pyzmq
qtconsole
QtPy
RapidFuzz
redis
referencing
requests
rfc3339-validator
rfc3986-validator
rich
rpds-py
Send2Trash
six
sniffio
soundcloud-v2
soupsieve
spotdl
spotipy
stack-data
starlette
syncedlyrics
terminado
text-unidecode
tinycss2
toolz
tornado
traitlets
types-python-dateutil
typing-inspection
typing_extensions
tzdata
Unidecode
uri-template
urllib3
uvicorn
virtualenv
wcwidth
webcolors
webencodings
websocket-client
websockets
Werkzeug
widgetsnbextension
wrapt
yt-dlp
ytmusicapi
zipp
